.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: var(--color-bg-variant-hover);
    border-color: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0;
    text-align: center;
    color: var(--text-color-light);
}

.portfolio__item-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.portfolio__item-links a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.portfolio__item-links>a:hover {
    transform: translateX(.3rem);
}

@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ============ media queries (SM) ============ */

@media screen and (max-width:600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}